.text-decorator-none {
    text-decoration: none !important;
}

.novoPost {
    margin-top: 2.5vh;
    margin-right: 3vw;
    margin-left: 3vw;
    padding: 5em 10em;
}


.espacoCaixa {
    padding-top: 6vh;
    margin-right: 3vw;
    margin-left: 3vw;
}

.sombraCaixa {
    box-shadow: 5px 5px 10px #0f0;
}

.fullPage {
    background-image: linear-gradient(90deg, #c9f05f, black 90%);
    min-height: 90vh;
}
.card{
    display: flex !important;
    align-items: center;
    margin-bottom: 24px;
}

.cardParagrafo{
    margin-top: 0.8vh !important;
    margin-right: 0.8vh !important;
    font-weight: 700;
    font-size: 14px !important;
    display: inline-block !important;
}
.cadastro{
    background-color: #fff;
    align-items: center !important;
    justify-content: center !important;
    min-height: 10vh;
    padding: 20px;
}