.cursor{
    cursor:pointer;
    color: white;   
    font-weight: 700 !important;
}
.cursor:hover{
    color: white !important;
    text-shadow: 1px 1px black !important;
    border-bottom: 2px solid white;
}
.title{  
    font-weight: 700 !important;
    font-size: 2rem !important;
}
.title:hover{
    color: white !important;
    text-shadow: 1px 1px black !important;
    border-bottom: 2px solid white;
}
.text-decorator-none{
    text-decoration: none;
    
}
.container{
background: #869986 !important;
display: flex;
justify-content: space-around;
}