.cursor{
    cursor:pointer;
    color: #ffffff;   
    font-weight: 700 !important;
}
.cursor:hover{
    color: #0f0 !important;
    text-shadow: 0px 5px 20px #fff !important;
}
.title{  
    font-weight: 700 !important;
    font-size: 2rem !important;
}

.text-decorator-none{
    text-decoration: none;
    
}
.container{
background: black !important;
display: flex;
justify-content: space-around;
height: 10vh;
}