.barra-menu{
    background: #97a9e9 !important;
    height: 6vh;
}
.sobreMim{
    padding:0px 20% !important;
}
.colorTab{
    color: black !important;
    font-size: 1em !important;
    font-weight: 600 !important;
}