.fundo {
    background-image: linear-gradient(35deg, #FB5701, #c09e25, #869986, #B3F8DA, #97a9e9);;
    height: 100vh;
    width: 100Vw;
}
.textos {
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none;
}


.boxLogin {
    background: #f8f1f621;
    box-shadow: 0px 0px 5px 0px white;
    margin-right: 10px;
    border-radius: 5px;
    height: 30em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.inputColor{
    background-color: white;
}
@media screen and (max-width: 768px) {
    .imagem{
        display:none
    }
        .loginLeft{
            display: grid;
            grid-template-columns: repeat(12);
            grid-column: 12;
        

        }
        .boxLogin{
        }
}