.box1 {
    height: 120px;
}

.box2 {
    height: 60px;
}

.RSocial {
    font-size: 60px !important;
    color: white;
}

.texto {
    color: white;
}
.container-footer{
    background-image: linear-gradient(to top, #EC33B2 1%,#000131 50%) !important;
}