.caixa{
    background-color: #3F51B5;
}
.titulo{
    color: white !important ;
    font-weight: bold!important;
}
.botao{
border: 2px white solid !important;
background: #1a2149 !important;
color: white!important;
border-radius: 8px !important;
}
.postagens{
    background-color: white!important;
}