.caixa{
    background-image: linear-gradient(#B3F8DA 1%, #224de6 100%);
    border-top: 3px solid black;
}

.titulo{
   color: white!important;
   font-weight: bold!important;
   text-shadow: 2px 2px 3px black;
}

.btn{
    color: #0a1b59 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    background-color: #e4f0c3 !important;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px black;
}
.btn:hover{
font-size: 1.3 rem !important;
color: red !important;
transition: all ease-in 0.3s !important;
    box-shadow: 0px 1px 3px 0px red !important;
}

.postagens{
   background-color: white;
   height: 100vh !important;
}

.text-decorator-none{
    text-decoration: none;
}
.grid-box{
    backdrop-filter: blur(3px);
    background: rgba(56, 57, 58, 0.247);
    border: 5px solid white;
    border-style: double;
    height: 24rem !important;
    padding: 10px ;
    border-radius: 10px;
}
.homeImg{
    background-image: url(../../components/imagens/rick-m.png);
    height: 90vh;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat
}

