.card-principal{
    background-color: darkmagenta;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15vw;
    height: 101vh;
}
.imgPerfil img{
width: 100px;
height: 100px;
border-radius: 50%;
}